<div
  class="h-full flex flex-col gap-4 items-center justify-center bg-black text-white p-4 md:p-0 py-24"
>
  <app-sections-headers
    [title]="'Contact Us'"
    description=" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor rem amet numquam, ab similique est."
  ></app-sections-headers>

  <div class="flex flex-col gap-4 pt-16 max-w-6xl w-full">
    <div class="flex flex-col md:flex-row gap-8">
      <app-input
        placeholder="Your name"
        class="bg-neutral-800 !text-white border-none"
        [(value)]="contactObj.name"
      >
      </app-input>
      <app-input
        placeholder="Your email"
        class="bg-neutral-800 !text-white border-none"
        [(value)]="contactObj.email"
      >
      </app-input>
      <app-input
        placeholder="Phone"
        class="bg-neutral-800 !text-white border-none"
        [(value)]="contactObj.phone"
      >
      </app-input>
    </div>
    <app-input
      placeholder="subject"
      class="bg-neutral-800 !text-white border-none"
      [(value)]="contactObj.subject"
    >
    </app-input>
    <div class="my-5">
      <textarea
        [(ngModel)]="contactObj.description"
        placeholder="Message*"
        class="w-full h-32 mt-2 text-white p-3 focus:outline-none border-none bg-neutral-800"
      ></textarea>
    </div>
  </div>
  <app-button
    content="Send"
    type="center"
    class="mt-4"
    (click)="contact()"
  ></app-button>
</div>
<p-toast></p-toast>
