<div
  class="h-full flex flex-col gap-4 items-center justify-center bg-black text-white pb-24"
>
  <div class="flex flex-col md:flex-row gap-8 pt-16 max-w-6xl items-center w-full">
    <div class="flex flex-col gap-4 md:gap-16 md:w-2/5 p-4 md:p-0 ">

      <h1 class="text-6xl font-[RalewayExtraBold] text-white uppercase">
        Additional Services
      </h1>

      <p class="text-gray-100">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum
        minus, nesciunt animi aperiam
      </p>
      <app-button content="All Services " class="mt-8"></app-button>
    </div>
    <div class="flex flex-col md:flex-row gap-4 md:w-3/5">
      <div class="flex flex-col justify-end gap-4 md:w-1/2 p-4 md:p-0">
        <div class="h-20"></div>
        <div
          class="border border-black hover:border-accent flex flex-col gap-4 text-white bg-zinc-900 p-5 h-1/2"
        >
          <img src="assets/images/birthday.png" class="w-1/2" alt="" />

          <h1 class="text-2xl font-[RalewayBold] text-white whitespace-nowrap">
            Birthday parties
          </h1>
          <p class="text-gray-100">
            Lorem, ipsum dolor sit ame Lorem, ipsum dolor sit ame
          </p>
        </div>
        <div
          class="border border-black hover:border-accent flex flex-col gap-4 text-white bg-zinc-900 p-5  h-1/2"
        >
          <img src="assets/images/birthday.png" class="w-1/2" alt="" />

          <h1 class="text-2xl font-[RalewayBold] text-white whitespace-nowrap">
            Birthday parties
          </h1>
          <p class="text-gray-100">
            Lorem, ipsum dolor sit amet consectetur 
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-start gap-4  md:w-1/2 p-4 md:p-0">
        <div
          class="border border-black hover:border-accent flex flex-col gap-4 text-white bg-zinc-900 p-5  h-1/2"
        >
          <img src="assets/images/birthday.png" class="w-1/2" alt="" />

          <h1 class="text-2xl font-[RalewayBold] text-white whitespace-nowrap">
            Birthday parties
          </h1>
          <p class="text-gray-100">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
            voluptatum minus, nesciunt animi aperiam
          </p>
        </div>
        <div
          class="border border-black hover:border-accent flex flex-col gap-4 text-white bg-zinc-900 p-5  h-1/2"
        >
          <img src="assets/images/birthday.png" class="w-1/2" alt="" />
          <h1 class="text-2xl font-[RalewayBold] text-white whitespace-nowrap">
            Birthday parties
          </h1>
          <p class="text-gray-100">
            Lorem, ipsum dolor sit amet consectetur 
          </p>
        </div>
        <div class="h-20"></div>

      </div>
    </div>
  </div>
</div>
