<div class="antialiased fixed w-full z-30 duration-500">

  <nav
    class="w-full text-gray-700 bg-black border-b border-accent "
  >
    <div
      class="flex flex-col px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
    >
      <div class="py-7 h-20"></div>
      <div
        class="flex absolute flex-row items-center justify-between px-4 py-2 w-full left-0 md:left-auto h-20"
      >
        <img src="assets/images/famm.png" class="h-14 mr-8" alt="" />
        <button
          class="rounded-lg md:hidden focus:outline-none focus:shadow-outline text-black"
          (click)="mobileNavopen = !mobileNavopen"
        >
          <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
            <path
              *ngIf="!mobileNavopen"
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
            <path
              *ngIf="mobileNavopen"
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <nav
        [class]="mobileNavopen ? 'flex' : 'hidden md:flex'"
        class="flex-grow pb-4 justify-center md:pb-0 md:justify-center md:flex-row w-full z-10"
      >
        <a
        *ngFor="let p of paths"
          [class]="
            path === p ? 'text-accent' : 'text-white '
          "
          (click)="changePath(p)"
          class="px-4 cursor-pointer py-2 mt-2 text-sm duration-150 font-semibold rounded-lg md:mt-0 md:ml-4 focus:outline-none focus:shadow-outline"
          >{{p}}</a
        >
       
      </nav>
    </div>
  </nav>
</div>
