<main class="pt-20 bg-black">
  <img
    src="assets/images/cocktailsSegnature.jpg"
    class="w-full h-96 object-cover object-bottom"
    alt=""
  />
  <div class="flex p-4 md:p-16 justify-center bg-black">
    <div
      class="flex flex-col md:flex-row gap-80 md:gap-8 w-full max-w-6xl items-center"
    >
      <div
        class="border border-black hover:border-accent flex flex-col gap-4 text-white bg-zinc-900 p-5 h-full text-center"
        *ngFor="let service of allServices"
      >
        <img [src]="service.image_url" class="h-28 object-contain" alt="" />

        <h1 class="text-2xl font-[RalewayBold] text-white whitespace-nowrap">
          {{ service.title }}
        </h1>
        <p class="text-gray-100">
          {{ service.description }}
        </p>
      </div>
    </div>
  </div>
</main>
