<div class="flex p-16 justify-center bg-slate-900">
  <div class="flex flex-col md:flex-row gap-8 w-full max-w-6xl items-center">
    <img src="assets/images/cocktail.png" alt="" class="md:w-1/5" />
    <h1 class="text-5xl font-[RalewayExtraBold] text-white w-full text-center md:text-start ">
      Book Your
      <span class="text-accent font-[RalewayExtraBold]">VIP Table</span> Now!
    </h1>
    <p class="text-white text-md max-w-md">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, maiores!
      Excepturi officia cupiditate totam inventore enim, dolore laboriosam
      minima sed iure possimus, expedita quam explicabo? Iste quod quae tempora
      inventore.
    </p>
    <div class="flex flex-col gap-4 text-white justify-center md:w-1/5">
      <app-button
        type="center"
        content="Book VIP table"
        class="w-full"
      ></app-button>
      <app-button
        type="center"
        content="Private party"
        class="w-full"
      ></app-button>
    </div>
  </div>
</div>
