<div
  style="background-image: url('assets/images/banner-1.jpg')"
  class="w-full h-[822px]"
>
  <div class="h-full flex flex-col gap-4 items-center justify-center">
    <h1 class="fadeInBottomToTop text-8xl text-white font-bold font-[RalewayExtraBold]">Just party it!</h1>
    <p class="text-center max-w-xl text-[#ffffff6a] opacity-30 text-sm fadeInBottomToTop !animation-delay-[300ms]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed at quas
      necessitatibus fugit nihil voluptate facere voluptas, ullam culpa
      consequuntur dolore illum reprehenderit modi. Aspernatur voluptate iste
      inventore vel atque.
    </p>
    
    <button class="bg-accent px-14 py-4 text-white rounded-full fadeInBottomToTop !animation-delay-[600ms]">Make an order</button>
  </div>
</div>
