<app-navbar></app-navbar>
<app-welcome></app-welcome>
<app-vip id="VIP"></app-vip>
<app-upcomingevents id="Upcoming events"></app-upcomingevents>
<app-aboutus id="About Us"></app-aboutus>
<app-additionalservice id="Additional Services"></app-additionalservice>
<app-gallery id="Gallery"></app-gallery>
<app-menu id="The Menu"></app-menu>
<app-signature id="Our Cocktails"></app-signature>
<app-booking id="Booking"></app-booking>
<!-- <app-djsection id="Dj Section"></app-djsection> -->
<app-contactus id="Contact Us"></app-contactus>

<app-footer></app-footer>
<router-outlet></router-outlet>

<div *ngIf="innerWidth >= 768" class="cursor">
  <div class="cursor__ball cursor__ball--big">
    <svg height="30" width="30">
      <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
    </svg>
  </div>

  <div class="cursor__ball cursor__ball--small">
    <svg height="10" width="10">
      <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
    </svg>
  </div>
</div>
