<app-navbar></app-navbar>
<app-welcome></app-welcome>
<app-aboutus id="About Us"></app-aboutus>
<app-upcomingevents id="Upcoming events"></app-upcomingevents>
<app-menu id="The Menu"></app-menu>
<app-vip id="VIP"></app-vip>
<app-signature id="Our Cocktails"></app-signature>
<app-gallery id="Gallery"></app-gallery>
<app-booking id="Booking"></app-booking>
<app-additionalservice id="Additional Services"></app-additionalservice>
<app-djsection id="Dj Section"></app-djsection>
<app-contactus id="Contact Us"></app-contactus>

<app-footer></app-footer>
<router-outlet></router-outlet> 

