<app-navbar></app-navbar>

<router-outlet></router-outlet>

<ng-container *ngIf="http.globalData">
  <app-footer></app-footer>
</ng-container>

<div *ngIf="innerWidth >= 768" class="cursor">
  <div class="cursor__ball cursor__ball--big">
    <svg height="30" width="30">
      <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
    </svg>
  </div>

  <div class="cursor__ball cursor__ball--small">
    <svg height="10" width="10">
      <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
    </svg>
  </div>
</div>
