<div
  class="h-full flex flex-col gap-4 items-center justify-center bg-black text-white pb-24"
>
  <app-sections-headers [title]="'The Menu'"></app-sections-headers>

  <div class="flex flex-col md:flex-row gap-8 pt-16 max-w-6xl w-full p-4 md:p-0">
    <div class="flex flex-col gap-12">
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="text-accent p-1 text-sm font-bold line-through">$49.00</div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
    </div>
    <div class="border-l hidden md:block"></div>
    <div class="border-b md:hidden"></div>

    <div class="flex flex-col gap-12">
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
      <div class="flex gap-6 items-center">
        <img src="assets/images/opuFish.jpg" class="w-20" alt="" />
        <div class="flex gap-6">
          <div>
            <div class="flex gap-2 items-center">
              <span class="font-bold whitespace-nowrap">Opu Fish</span>
              <hr class="w-full" />
            </div>
            <p class="text-xs mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas
              hic quasi animi. Corporis, dolores.
            </p>
          </div>
          <div>
            <div class="bg-accent text-white p-1 text-sm font-bold">$49.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-button content="See all Menu" type="center" class="mt-8"></app-button>
</div>
