<div
  class="h-full flex flex-col gap-4 items-center justify-center bg-black text-white pb-24"
>
  <app-sections-headers
    [title]="'Gallery'"
    [description]="'we arrange many other events'"
  ></app-sections-headers>

  <div class="flex flex-wrap gap-8   pt-16 justify-center max-w-6xl w-full">
    <div *ngFor="let event of events" class="relative img" >
        <div class="absolute text-white bg-accent bg-opacity-90 flex flex-col justify-center items-center gap-4 w-full h-full opacity-0 hover:opacity-100 cursor-pointer duration-500">
            <span class="text-md">{{event.sub_title}}</span>
            <span class="text-2xl font-[RalewayBold]">{{event.title}}</span>
            <hr class="w-16">
            <span class="text-sm font-[RalewayBold]">{{event.date && toDate(event.date) | date : "mediumDate" }}</span>
        </div>
        <img [src]="event.image_url || 'assets/images/dj1.jpg'" class=" w-full h-full bg-cover" alt="">
    </div>
  
  </div>
  <app-button content="See all " type="center" class="mt-8"></app-button>

</div>
