<div
  class="h-full flex flex-col gap-4 items-center justify-center bg-black text-white pb-24"
>
  <div class="grid grid-cols-3 gap-16 pt-16 max-w-6xl w-full">
    <div class="flex flex-col gap-8">
      <div class="border-accent w-20 border-b-2 border"></div>
      <h1 class="text-4xl font-[RalewayBold] text-white whitespace-nowrap">
        Dj's Profile
      </h1>
      <p class="text-sm text-gray-200">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        doloribus officiis commodi tempora sequi ipsam quam voluptates ex,
        tenetur dignissimos!
      </p>
      <app-button content="View All"></app-button>
    </div>
    <div class="relative">
      <div
        class="absolute text-white bg-zinc-900 flex flex-col justify-center items-center gap-2 -bottom-8 left-[10%] w-4/5 p-4 shadow-md"
      >
        <span class="text-2xl font-[RalewayBold]">Dj Ayoub</span>
        <span class="text-sm text-accent">Club. Enjoy</span>
      </div>
      <img src="assets/images/djperson.jpg" class="w-full h-full" alt="" />
    </div>
    <div class="relative">
        <div
          class="absolute text-white bg-zinc-900 flex flex-col justify-center items-center gap-2 -bottom-8 left-[10%] w-4/5 p-4 shadow-md"
        >
          <span class="text-2xl font-[RalewayBold]">Dj Ayoub</span>
          <span class="text-sm text-accent">Club. Enjoy</span>
        </div>
        <img src="assets/images/djperson.jpg" class="w-full h-full" alt="" />
      </div>
      <div class="relative">
        <div
          class="absolute text-white bg-zinc-900 flex flex-col justify-center items-center gap-2 -bottom-8 left-[10%] w-4/5 p-4 shadow-md"
        >
          <span class="text-2xl font-[RalewayBold]">Dj Ayoub</span>
          <span class="text-sm text-accent">Club. Enjoy</span>
        </div>
        <img src="assets/images/djperson.jpg" class="w-full h-full" alt="" />
      </div>
      <div class="relative">
        <div
          class="absolute text-white bg-zinc-900 flex flex-col justify-center items-center gap-2 -bottom-8 left-[10%] w-4/5 p-4 shadow-md"
        >
          <span class="text-2xl font-[RalewayBold]">Dj Ayoub</span>
          <span class="text-sm text-accent">Club. Enjoy</span>
        </div>
        <img src="assets/images/djperson.jpg" class="w-full h-full" alt="" />
      </div>
      <div class="relative">
        <div
          class="absolute text-white bg-zinc-900 flex flex-col justify-center items-center gap-2 -bottom-8 left-[10%] w-4/5 p-4 shadow-md"
        >
          <span class="text-2xl font-[RalewayBold]">Dj Ayoub</span>
          <span class="text-sm text-accent">Club. Enjoy</span>
        </div>
        <img src="assets/images/djperson.jpg" class="w-full h-full" alt="" />
      </div>
     
  </div>
</div>
